@import "vars";
@import "global";
@import "fonts";
@import "mixin";


@import "page/header";
@import "page/agency";
@import "page/service";
@import "page/analysis";
@import "page/questions";
@import "page/case";
@import "page/benefits";
@import "page/plans";
@import "page/testimomials";
@import "page/news";
@import "page/footer";
@import "page/media";

.swiper {
    width: 1200px;
    height: 390px;
}




html,
body {
    scroll-behavior: smooth;
}