.case {
    padding: 80px 0 85px;
    background: #F4F5F6;
}

.container {}

.case__title {
    @extend %title;
    margin-bottom: 60px;
    position: relative;
}

.case__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


.case__card-inner {
    display: flex;
    flex-direction: column;
}

.slick-slide img {
    width: none;
}


.case__btn-image-2 svg {
    transition: all .4s;
    border-radius: 50%;
}

.case__btn-image-2:hover svg {
    box-shadow: 0px 0px 0px 16px #7772F1;
    background-color: #7772F1;
    border-radius: 100%;
}




// .case__title::before {
//     display: block;
//     content: url('/images/case/Left.svg');
//     position: absolute;
//     left: 95%;
//     top: 0;
//     width: 24px;
//     height: 24px;
// }

// .case__title::after {
//     display: block;
//     content: url('/images/case/Right.svg');
//     position: absolute;
//     left: 99%;
//     top: 0;
//     width: 24px;
//     height: 24px;
// }

// .case__title:hover::after {

//     box-shadow: 0 0 0 16px #7772F1;
//     top: 20px;

// }

.case__card-block {
    display: flex;
    width: 390px;
    height: 390px;
    background: #fff;
    margin-right: 29px;
}

.case__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 31px;
}

.case__image {
    margin-top: 24px;
}

.case__text {
    color: #1E212C;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.case__line {
    width: 390px;
    height: 1px;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
    margin-bottom: 20px;
}

.case__text-accent {
    max-width: 310px;
    color: #787A80;
    line-height: 1.6;
    font-size: 16px;
}

.case__circle-inner {
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.case__circle-content {
    display: flex;
    flex-direction: column;
    max-width: 66px;
    font-size: 12px;
    margin-right: 32px;
}

.case__circle-content span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.case__circle {
    display: flex;
}

.case__circle-imamge {
    margin-right: 12px;
}

.case__card-inner {
    display: flex;
}

.case__card-block-2 {
    width: 390px;
    height: 390px;
    position: relative;
    margin-right: 30px;
}

.case__circle-inner2 {}

.case__circle2 {
    position: absolute;
    bottom: 0;
    display: flex;
}

.case__circle-imamge2 {
    padding: 0px 0px 44px 40px;
    margin-right: 12px;
}

.case__circle-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    color: #fff;
    max-width: 84px;
    margin-right: 32px;
}

.case__circle-content2 span {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

.case__content-2 {
    position: relative;
}

.case__image-2 {
    background: #1E212C;
    z-index: 1;
}

.case__image-2 img {
    opacity: 0.5;
}

.case__content-2 {
    position: relative;
}

.case__content-2::before {
    position: absolute;
    content: url('/images/case/National\ Health\ Logo\ 1.png');
    top: 30px;
    left: 30px;
    mix-blend-mode: screen;
    z-index: 2;
}


.case__line-2 {
    position: absolute;
    top: 128px;
    display: flex;
    align-items: center;
    width: 390px;
    height: 1px;
    mix-blend-mode: screen;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
    opacity: 0.4;
}

.case__bottom {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.gallery__nav {
    display: flex;
    align-content: space-around;
    align-items: baseline;
    gap: 12px;
}

.case__arrow {
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(490px);

}

.case__arrow:hover path {
    fill: #fff;
}

.case__btn:hover {
    background: #504AED;
    
}

.case__perv:hover {
    background: #7772F1;
    box-shadow: 0 0 0 16px #7772F1;
    border-radius: 100%;
    fill: white;
}

.case__next:hover {
    background: #7772F1;
    box-shadow: 0 0 0 16px #7772F1;
    border-radius: 100%;
    fill: white;

}



.case__perv {
    transition: all .5s;
}

.case__next {
    background: #7772F1;
    border-radius: 100%;
    color: #fff;
    margin-right: 12px;
    transition: all .5s;
}

.case__subtitle {
    color: #1E212C;
    line-height: 1.5;
    font-weight: 700;
    font-size: 28px;
    margin-right: 40px;
}

.case__btn {
    display: flex;
    height: 52px;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    padding: 0px 40px;
    background: #7772F1;
    border-radius: 4px;
    line-height: 52px;
    transition: all .5s;
}

.case__card-block-3 {
    width: 390px;
    height: 390px;
    background: #fff;
    margin-right: 31px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}



.case__circle-inner3 {
    padding: 250px 0px 0px 45px;
}


.case__circle3 {
    display: flex;
    transform: translateY(-26px);
}

.case__circle-imamge3 {
    margin-right: 12px;
}

.case__circle-content3 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-right: 42px;
    max-width: 81px;
}

.case__circle-content3 span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.case__content-3 {
    position: relative;
}

.case__line-3 {
    position: absolute;
    top: 128px;
    display: flex;
    align-items: center;
    width: 390px;
    height: 1px;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.case__image-3 {
    margin: 20px 0 0 30px;
}