@media (max-width: 1050px) {
    .header__image {
        margin: 50px 0px 0px 0px;
    }

    .agency__content::before {
        display: none;
    }

    .analys__inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header::before {
        display: none;
    }

    .header__top::before {
        display: none;
    }

    .header::after {
        display: none;
    }

}

@media (max-width: 1100px) {
    .testimonials__slider::before {
        top: 11%;
        right: 96%;

    }

    .testimonials__quote {
        font-size: 2.5vw;
    }

    .new__inner {
        flex-direction: column;
    }

    .new__card2 {
        width: 390px;
        height: 507px;
    }

    .new__content {
        margin-bottom: 100px;
    }

    .analys__title {
        margin-top: 50px;
        font-size: 26px;
    }

    .questions__title {

        font-size: 32px;
    }

    .benefits__title {
        font-size: 32px;
    }

}

@media (max-width: 1200px) {
    .service__image {
        display: none;
    }

    .service__image::before {
        display: none;
    }

    .service__image::after {
        display: none;
    }

    .service__content::before {
        display: none;
    }

    .service__content::after {
        display: none;
    }

    .service__inner::before {
        display: none;
    }

    .service__subtitle::after {
        display: none;
    }

    .service__title::after {
        display: none;
    }

    .service__content {
        align-items: center;
    }

    .service__list {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
    }

    .service__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .analys__image {
        margin-right: 50px;
    }

    .benefits__card-list::before {
        display: none;
    }

    .benefits__card-list {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
    }

    .plans__card-inner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .testimonials__perv {
        top: 81%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 42%;
    }



    .testimonials__next {
        top: 81%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 49%;
    }
}


@media (max-width: 420px) {
    .footer__col-list {
        display: flex;
        margin: 0px 0px 0px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (max-width: 925px) {

    .header__nav {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: rgb(34, 174, 234);


        transform: translateY(-100%);

        visibility: hidden;
        transition: all 0.6s;
    }

    .header__top-logo {
        z-index: 30;
        opacity: 10;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }

    .header__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 300px 15px 30px;
        gap: 40px;
        font-weight: 900;
    }


    .header__nav-link {
        font-size: 40px;
        color: #ffffff;
        opacity: 1;
        border-bottom: 1px solid #7772F1;
    }


    .burger-icon {
        display: flex;
    }

    .body--opened-menu .button {
        background: #fff;
        color: #7772F1;
        font-weight: 900;
        opacity: 0.7;
        border: 2px solid #7772F1;
        z-index: 30;
    }




    // ----------------
    .header__title {
        font-size: 7vw;
        overflow: visible;
    }

    .header__top-inner {
        margin-bottom: 100px;
    }

    .questions__inner::after {
        display: none;
    }
}

@media (max-width: 800px) {
    .seo__item {
        max-width: 300px;
    }

    .createx__grid-text {
        font-size: 2.8vw;
        /* max-width: 110px; */
        line-height: 1.3;
    }

    .createx__text {
        max-width: 648px;
        font-size: 3.5vw;
        font-weight: 700;
        line-height: 159%;
        /* margin-right: 105px; */
        margin-right: 10px;
    }

    .createx__content {
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }


    .new__wrapper {
        flex-direction: column;
    }

    .new__content {
        margin-bottom: 100px;
    }

    .footer__top-inner {
        grid-template-columns: 3fr 2fr 2fr 3fr;
    }

    .new__card-image img {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .createx__logo {
        flex-wrap: wrap;
    }



    .agency__image img {
        display: none;
        width: 0;
    }

    .agency__inner {
        justify-content: center;
    }

    .agency__button {
        align-items: center;
    }

    .agency__content::before {
        display: none;
    }

    .service__link {
        padding: 0%;
    }

    .service__link:hover {
        padding: 10px 2px 10px 7px;
    }
}

@media (max-width: 788px) {
    .service__link {
        padding: 10px 78px 10px 41px;
    }

    .case__card-inner {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .case__card-block {
        margin-right: 0px;
    }

    .case__card-block-3 {
        margin-left: 0px;
    }

    .case__inner {
        flex-direction: column;
        align-items: center;
    }

    .testimonials__perv {
        left: 20%;
    }

    .testimonials__next {
        right: 20%;
    }
}

@media (max-width: 650px) {
    .analys__input-box-small {
        flex-wrap: wrap;
    }

    .case__bottom {
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .case__btn {
        margin-top: 20px;
    }

    .testimonials__slider::before {
        display: none;
    }

    .footer__top-inner {
        grid-template-columns: 3fr 2fr 2fr;
    }

    .body--opened-menu .header__top-logo {
        transform: scale(0.7);
    }

    .body--opened-menu .burger-icon {
        transform: scale(0.7);
    }

    .body--opened-menu .button {
        transform: scale(0.9);
    }

    .header__top-inner {
        margin-bottom: 100px;
    }

    .createx {
        padding: 60px 0px 100px;
    }

    .agency__inner {
        padding-bottom: 100px;
    }

    .eclipse {
        padding-bottom: 100px;
    }

    .service__content {
        padding-top: 30px;
    }

    .service {
        padding-bottom: 60px;
    }

    .analys__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .analys__input-small {
        max-width: none;
        width: 100%;
        margin-right: 0px;
    }

    .questions {
        padding: 100px 0 60px;
    }

    .benefits {
        padding: 50px 0px 40px;
    }


    .plans {
        padding-bottom: 100px;
    }
}

@media (max-width: 700px) {
    .case__btn-box {
        margin-bottom: 30px;
    }

}

@media (max-width: 600px) {
    .button {
        padding: 1vh;
        color: #fff;
        font-size: 1vh;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.5px;
        background: #7772F1;
    }

    .header__image {
        display: none;
    }

    .seo__item {
        font-size: 2vw;
        padding: 3vw;
    }

    .seo__item img {
        max-width: 26px;
        height: auto;
        object-fit: cover;
    }

    .seo__item::before {
        display: none;
    }

    // =======================
    .service__link {
        padding: 10px 10px 10px 10px;
    }

    .createx__grid-item img {
        width: 20%;
    }

    .analys__image img {
        width: 100%;
        object-fit: cover;
    }

    .case__title {
        font-size: 6vw;
    }

    .footer__top-inner {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .footer__sign {
        margin-top: 30px;
    }

    .footer__col-list {
        margin: 30px 0px 0px 0px;
    }

    .header__btn-box {
        justify-content: start;
        transform: scale(0.9);
    }

    .burger-icon {
        transform: scale(0.8);
    }

    .body--opened-menu .header__nav-link {
        font-size: 7vw;
        margin: 0 auto;
    }

    .body--opened-menu .burger-icon {
        top: 50%;
        transform: translateX(-50%);
    }

    .case__card-inner {
        display: flex;
        flex-direction: column;
    }

    .footer__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer__body-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__copy-text {
        gap: 4px;
        font-size: 12px;
    }

}

@media (max-width: 380px) {

    .service__link {

        padding: 5px 0px 2px 1px;

    }


    .analys__input-big {
        padding: 10px 118px 13px 16px;
    }

    .case__card-block {
        width: 320px;
        height: 350px;
    }

    .case__text-accent {
        max-width: 250px;
    }

    .case__card-block-2 {
        width: 320px;
        height: 350px;
    }

    .case__text-accent-2 {
        max-width: 250px;
    }

    .case__card-block3 {
        width: 320px;
        height: 350px;
    }

    .case__text-accent3 {
        max-width: 250px;
    }

    .benefits__title,
    .case__title,
    .service__title,
    .agency__title {
        font-size: 7vw;
    }

    .case__btn-box {
        margin: 20px 0 20px;
    }

    .case__bottom {
        flex-wrap: wrap;
    }

    .case__subtitle {
        text-align: center;
    }

    .plans__card-box {
        width: 310px;
        height: 526px;
    }

    .plans__list-item {
        padding-left: 31%;
    }

    .plans__btn {
        margin: 25px -30px 0px -7px;
    }

    .plans__card-box2 {
        width: 310px;
        height: 526px;
    }

    .plans__list-item2 {
        padding-left: 31%;
    }

    .plans__btn2 {
        margin: 25px -30px 0px -7px;
    }

    .plans__list2 {
        margin: 0;
    }

    .plans__list {
        margin: 0;
    }

    .plans__card-box3 {
        width: 310px;
        height: 526px;
    }

    .plans__list-item3 {
        padding-left: 31%;
    }

    .plans__btn3 {
        margin: 25px -30px 0px -7px;
    }

    .plans__list3 {
        margin: 0;
    }

    .testimonials__title {
        font-size: 32px;
        margin-bottom: 0px;
    }


    .new__card-image img {
        width: 80%;
    }

    .new__card-image2 img {
        width: 80%;
    }

    .button {
        display: none;
    }

    .case__title {
        text-align: center;
    }
}

@media (max-width: 328px) {
    .service__link {
        padding: 0px 1px 0px 0px;
    }

}

@media (max-width: 333px) {
    .service__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 85px;
    }
}

@media (max-width: 450px) {
    .analys__btn {
        height: 44px;
        padding: 22px 113px;
        background: #7772F1;
        border-radius: 4px;
        color: #fff;
        font-size: 3vw;
        margin: 5%;
    }

    .analys__input-big {
        padding: 13px 129px 13px 16px;
    }

    .checkbox {
        flex-wrap: wrap;
    }


    .questions__title {

        font-size: 32px;
    }

    .benefits__title {
        font-size: 32px;
    }

    .benefits__card-item--active {}

    .plans__title {
        font-size: 9vw;
    }

    .testimonials__quote {

        padding-top: 98px;
    }

    .testimonials__slider::before {
        top: 11%;
        right: 96%;
    }
}

@media (max-width: 433px) {
    .header__button {
        font-size: 11px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.5px;
        padding: 0px 5px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid #fff;
    }

    .header__play-btn svg {
        width: 100%;
        object-fit: cover;
    }

    .header__play-btn {
        font-size: 4vw;
        transform: scale(0.8);
    }

    .header__btn-box {}

    // =============

    .createx__grid-item {
        padding: 1vw;
    }

    .createx__grid-item img {}

    .agency__button {}

    .complete__list-item {
        font-size: 13px;
    }

    .service__subtitle {
        font-size: 3vh;
    }

    .service__btn {
        padding: 0px 9px;
    }

    .service__btn--white {
        padding: 0 20px;
    }

    .questions__title {
        text-align: center;
    }

    .testimonials__quote {
        font-size: 4vw;
    }


    .testimonials__info-name {
        font-size: 4vw;
    }

    .testimonials__info-position {
        font-size: 4vw;
    }

    .testimonials__perv {
        margin-bottom: 30px;
        transform: scale(0.7);
    }

    .testimonials__next {
        margin-bottom: 30px;
        transform: scale(0.7);
    }

    .testimonials__perv,
    .testimonials__next svg {}


    .footer__top-inner {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

}


@media (max-width: 350px) {
    .button {
        padding: 0px 7px;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.5px;
        background: #7772F1;
    }

    .seo__item img {
        max-width: 18px;
    }

    // ==============================
    .createx__text {
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .createx__item img {
        margin-right: 2px;
        width: 40%;
    }

    .agency__title {
        font-size: 35px;
    }

    .toggle-btn2 {
        padding: 18px 4px;
    }

    #btn {
        width: 162px;
        height: 101%;
    }

    .button-box {
        width: 280px;
    }

    .burger-icon {
        transform: scale(0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        display: inline-block;
        overflow: hidden;
        transform: scale(1);
    }

    .button {
        display: none;
    }

}

@media (max-width: 312px) {
    .button {
        padding: 0px 0px;
        color: #fff;
        font-size: 4vw;
        text-align: center;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.5px;
        background: #7772F1;
    }

    .service__btn {
        padding: 0px 4px;
    }
}