.button-box {
    width: 390px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #7772F1;

}

.toggle-btn {
    padding: 18px 60px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.toggle-btn:active {
    color: #7772F1;
}

.toggle-btn2 {
    padding: 18px 60px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: #7772F1;
    z-index: 2;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 220px;
    height: 100%;
    background: #7772F1;
    border-radius: 30px;
    transition: .5s;
}

#btn.active {
    background: #7772F1;
    color: #fff;
}

#btn.active .toggle-btn {
    color: #fff;
    /* Добавлено правило для цвета текста при активном состоянии */
}

.plans__title {
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    /* 59.8px */
    color: #1E212C;
    text-align: center;
    margin-bottom: 60px;
}

.plans__btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}